body {
    background: #eee;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    /* font-size: 35px; */
    font-size: 2vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #ccc;
    padding: 10px 0px 0px 0px;
    width: 47.5%;
    margin: auto;
    margin-bottom: 25px;
}

img {
    width: 22.5%;
    height: 22.5vw;
    margin: 1%;
    float: left;
    border-right: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-left: 2px solid silver;
    border-top: 2px solid silver;
}

.tagline {
    width: 22.5%;
    margin: 1%;
    float: left;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 0px;
    padding: 10px 0;

}

span {
margin: 10px;
}